#!KAMAILIO

debug=2
log_stderror=yes
children=2
listen=tcp:0.0.0.0:8088

loadmodule "sl.so"
loadmodule "pv.so"
loadmodule "siputils.so"
loadmodule "xhttp.so"
loadmodule "websocket.so"

modparam("websocket", "keepalive_mechanism", 2)
modparam("websocket", "lf_keepalive_compat", 0)

event_route[xhttp:request] {
    if ($hdr(Upgrade) =~ "websocket") {
        if (ws_handle_handshake()) {
            exit;
        }
    }
    xhttp_reply("404", "Not Found", "", "");
}

request_route {
    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }
    sl_send_reply("405", "Method Not Allowed");
}
